<%- include("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <% if (currentUser) { %>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new"
          >Add New Campground</a
        >
        <% } else { %>
        <a href="/login">Log in to add new campground</a>
        <% } %>
      </p>
    </div>
  </header>

  <div class="row text-left">
    <div class="col-md-12">
      <% if(noMatch !== null) { %>
      <h3><%= noMatch %></h3>
      <% } %>
    </div>
    <% campgrounds.forEach((campground) => { %>
    <div class="col-lg-3 col-sm-6">
      <div class="card image-card">
        <img
          src="<%= campground.image %>"
          class="card-img-top"
          alt="<%= campground.name %> image"
        />
        <div class="card-body">
          <h4 class="card-title"><%= campground.name %></h4>
          <% if (campground.rating === 0) { %>
          <em>No reviews yet.</em>
          <% } else { %>
          <span class="fa fa-star checked"></span>
          <span
            class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"
          ></span>
          <% } %>
        </div>
        <p>
          <a
            href="/campgrounds/<%= campground._id %>"
            class="btn btn-primary btn-lg"
            >More info</a
          >
        </p>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<%- include("../partials/footer") %>
