<%- include("../partials/header") %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <% if (currentUser) { %>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new"
          >Add New Campground</a
        >
        <% } else { %>
        <a href="/login">Log in to add new campground</a>
        <% } %>
      </p>
    </div>
  </header>

  <div class="row text-left">
    <div class="col-md-12">
      <% if(noMatch !== null) { %>
      <h3><%= noMatch %></h3>
      <% } %>
    </div>
    <% campgrounds.forEach((campground) => { %>
    <div class="col-lg-3 col-sm-6">
      <div class="card image-card">
        <img
          src="<%= campground.image %>"
          class="card-img-top"
          alt="<%= campground.name %> image"
        />
        <div class="card-body">
          <h4 class="card-title"><%= campground.name %></h4>
          <% if (campground.rating === 0) { %>
          <em>No reviews yet.</em>
          <% } else { %>
          <span class="fa fa-star checked"></span>
          <span
            class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"
          ></span>
          <span
            class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"
          ></span>
          <% } %>
        </div>
        <p>
          <a
            href="/campgrounds/<%= campground._id %>"
            class="btn btn-primary btn-lg"
            >More info</a
          >
        </p>
      </div>
    </div>
    <% }); %>
  </div>
  <% if (pages && pages > 1) { %>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% if (current == 1) { %>
      <li class="page-item disabled"><a class="page-link">First</a></li>
      <% } else { %>
      <li>
        <a
          class="page-link"
          href="/campgrounds<%if(search){%>?search=<%=search%><%}%>"
          >First</a
        >
      </li>
      <% } %> <% if (current == 1) { %>
      <li class="page-item disabled"><a class="page-link">«</a></li>
      <% } else { %>
      <li>
        <a
          class="page-link"
          href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>"
          >«</a
        >
      </li>
      <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
      if (i !== 1) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <%
      if (i == current) { %>
      <li class="active"><a class="page-link"><%= i %></a></li>
      <% } else { %>
      <li>
        <a
          class="page-link"
          href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"
          ><%= i %></a
        >
      </li>
      <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a class="page-link">»</a></li>
      <% } else { %>
      <li>
        <a
          class="page-link"
          href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>"
          >»</a
        >
      </li>
      <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a class="page-link">Last</a></li>
      <% } else { %>
      <li>
        <a
          class="page-link"
          href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>"
        >
          Last
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
  <% } %>
</div>

<%- include("../partials/footer") %>
