<%- include("../partials/header") %>

<div class="container">
  <div class="row">
    <div class="col heading-container">
      <h1 class="profile-heading">
        <%= user.firstName + " " + user.lastName %>
      </h1>
      <a href="/users/<%= user._id %>/edit %>">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img
        src="<%= user.avatar %>"
        alt="user profile image"
        class="img-thumbnail"
      />
      <div class="caption">
        <span class="email-label">Email:</span>
        <a href="mailto:<%= user.email %>"><%= user.email %></a>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 campgrounds-container">
      <h3>Campgrounds</h3>
      <ul>
        <% campgrounds.forEach((campground) => { %>
        <li>
          <a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
